/* CSS Entry Point */
$header-height: 82px;
$etsy-blue: #0192B5;
$app-padding: 0px 150px 0px 150px;
$app-padding-left: 0px 0px 0px 150px;
$app-padding-right: 0px 150px 0px 0px;


* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  // border: 1px solid black;
}

.app {
  font-family: lucida-sans-unicode;

}

body  {
  margin: 0;
}


header, nav {
  padding: $app-padding;
  width: 1300px;
}

aside {
  font-size: 13px;
  // padding: $app-padding-left;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  flex-flow: column wrap;
  box-sizing: border-box;
  width: 394px;
  margin: 0;
}

.aside-content {
  margin: 30px 18px 0px 150px;
  width: 242px;
  display: inline-block;
  // background-color: white;

}

.all-categories {
  margin: 20px 0 0 0;
  background-color: white;
}

main {
  padding: 0;
  margin: 0;
  // width: 827px;
  display: flex;
  flex-flow: row wrap;
  width: 748px;
  height: 2300px;
  
}

.main-aside {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0px 150px 0px 0px;
  background-color: #F5F5F1;
}

ul  {
  padding: 0px;
  margin: 0px;
}

header {
  height: $header-height;
  // position: relative;
  li {
  display: inline;
  height: 33px;
  font-size: 13px;
  // position: absolute;
  }
}

header > * {
  display: inline-block;
  height: $header-height;
}

h1  {
  font-family: times;
  font-size: 2.5em;
  font-weight: lighter;
  color: #F56400;
  margin: 0px 14px 0px 0px;
  padding: 15px 10px 10px 0px;
}

h1, .whiskey-box, .search-box {
  float: left;
}

.whiskey-box, .search-box  {
  margin: 24px 0px 0px 0px;
  box-shadow: inset 1px 2px 2px 2px rgba(0,0,0,0.07);
}

header > ul {
  padding: 0px;
  height: 18px;
}

header > ul, .cart-box {
  float: right;
  color: $etsy-blue;
  padding: 30px 70px 0px 0px;

}

.sign-in-box {
border: 1px solid $etsy-blue;
border-radius: 3px;
height: 35px;
width: 60px;
position: absolute;
top: 24px;
right: 280px;
}


header li {
  font-size: 15px;
  margin: 0px 20px 0px 0px;
}

.whiskey-box {
  height: 34px;
  width: 259px;
  border: 1px solid #CFCBC8;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  padding: 7px 0px 0px 10px;
  font-size: 13px;
}

.search-box {
  height: 34px;
  width: 78px;
  background: #34A8C4;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #2F98B1;
  color: #FFF;
  font-size: 13px;
  font-weight: bolder;
  padding: 6px 15px 0px 15px;

}

.cart-box {
  padding: 0px 14px 0px 14px;
  color: #888;
  margin: 0px 40px 0px 0px;
  width: 25px;
  img {
    height: 30px;
  }
}

.price.title {
  p {
  margin: 0 0 0 20px;
  }
}

nav {
  height: 44px;
  border-top: solid 1px #E1E3DF;
  border-bottom: solid 1px #E1E3DF;
  box-shadow: 2px 0px 2px -2px #ccc;

}
nav > * {

}

nav {
display: flex;
align-items: center;
  li {
  list-style-type: none;
  display: inline;
  padding: 0px 20px 0px 0px;
  font-size: 13px;
  color: #9A9A9A;
  ul {
    margin: 20px 0px 20px 0px;
  }
}
}

.above-pics {
  width: 748px;
  height: 40px;
  display: flex;
  align-content: space-between;
  padding: 0 0 0 20px;
  margin: 10px 0 0 0;
  p {
    width: 748px;
    font-size: 13px;
    span:first-child {

  }
  }
}

.sort-by {
  width: 170px;
  float: right;
  }

.show-results {
  // padding: 0px 0px 0px 150px;
  color: $etsy-blue;
  width: 243px;
  ul {
  border: 1px solid #CBCCC9;
  box-shadow: 0px 2px 1px #CBCCC9;
  }
  li {
    padding: 5px 0 5px 20px;
  }
  li:first-child {
    color: black;
    padding: 10px 0 0 15px;
  }
  p {
    display: inline;
    color: black;
    font-weight: bolder;
  }
}

.etsy-blue-text {
  color: $etsy-blue;
}

.radio-button {
  list-style-type: disc;
}

.refine-search {
  width: 243px;
  * > li {
    margin: 5px 0 0 20px;
  }
}

.white-box {
  padding: 10px;
  border-bottom: 1px solid #CBCCC9;
}

.price-title {
  padding: 10px;
  border-bottom: 1px solid #CBCCC9;
}

.white-box, .price-title, .color-filter, .order-options, .shop-location, .ship-to {
  background-color: white;
  p {
    margin: 0;

  }
}

.price-filter li {
display: inline;
}

.color-list {   
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 2px;
}

#red {
  background-color: #f40b32;
}

#orange {
  background-color: #ff7f00;
}

#yellow {
  background-color: #f3cc0c;
}

#green {
  background-color: #0ac20a;
}

#blue {
  background-color: #0cccf3;
}

#purple {
  background-color: #a60cf3;
}

#black {
  background-color: #000;
}

#white {
  background-color: #fff;
}

.color-filter {
  height: 70px;
  border-bottom: 1px solid #CBCCC9;  
  p {
    padding-top: 10px;
  }
}

.title {
  display: block;
}

.product {
  display: inline-block;
  width: 227px;
  margin: 0 0 20px 20px;
  border: 1px solid #CBCCC9;
  border-radius: 4px;
  box-shadow: 0px 2px 1px #CBCCC9;
  white-space: nowrap;                 
  overflow: hidden; 
  height: 227px;
  font-size: 13px;
  background-color: white;
  img {
    width: 225px;
    height: 179px;
  }
}   

.title {
  text-overflow: ellipsis; 
  overflow: hidden;
  margin: 0 5px 0 5px;
}

.seller-price {
  display: inline;
  margin: 0 5px 0 5px;
  p {
    display: inline-block;
    margin: 0 5px 0 5px;
  }
  p:first-child {
    color: #9A9A9A;
  }
  p:last-child {
    float: right;
    color: #78C042;
  }
}

.order-options {
  color:black;
  height: 110px;
  li {
    color: $etsy-blue;
    margin: 0 0 0 25px;
    list-style-type: disc;
    padding-top: 10px;
  }
  p {
    padding: 10px 0 0 15px;
  }
}

.shop-location {
  height: 110px;
  border-bottom: 1px solid #CBCCC9;
  border-top: 1px solid #CBCCC9;
  p {
    color: $etsy-blue;
  }
  li {
    list-style-type: disc;
    padding-top: 10px;
    :nth-child(2) {
    color: $etsy-blue;
    }
  }
}

.ship-to {
  height: 90px;
  p {
    padding: 10px;
  }
}






















